# Java class and dirs files
*.class
out/

# Local configuration file (sdk path, etc)
local.properties

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

#Gradle
.gradletasknamecache
.gradle/
build/
bin/

#Docker
Dockerfile
docker-compose.yml